@{
    Layout = "~/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Facebook</h1>

        <iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/stylistCrystalLandry"
            style="border:none; width:450px; height:80px">
        </iframe>

    </div>
</body>
</html>
