@{
    Layout = "~/_LayoutPage.cshtml";
}

<h1>Bio</h1>
<div id="divBioWrapper">
    <div class="divider" style="height: 8px; border-radius: 2px;"></div>
    <br />

    <div style="text-align: center;">
        <img src="~/Content/Pictures/art_show18.jpg" style="border-top: 10px; height: 460px; float:left;" />
        <img src="~/Content/Pictures/crystalDisney.jpg" style="border-top: 10px; height: 200px; float:right;" />
        <img src="~/Content/Pictures/crystalMexico.jpg" style="border-top: 10px; height: 200px; float:right; margin-top:10px;" />
    </div>
    <div style="clear:both;"></div>
    
    <h2>About Crystal</h2>
    
    <p>
        Praesent non tempus sapien, vel aliquet enim. Vestibulum ante ipsum 
        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec 
        dictum sapien sit amet semper tincidunt. Nam iaculis molestie varius. 
        Aliquam metus quam, gravida et arcu et, bibendum pharetra lorem. Nam 
        congue vel arcu vitae suscipit. Vivamus mollis turpis vestibulum egestas accumsan. 
        Praesent ut leo ut tortor rhoncus vulputate. Pellentesque varius ac sem 
        mattis tincidunt. Cras iaculis ante magna, et sollicitudin nulla fringilla 
    </p>

</div>

